<!-- при перемещение в папку "posts" не проходит один тест TestGroupView::test_group_view =( -->
<!-- тут все меняю: return render(request, "posts/group.html", {"group": group, "posts": posts})-->
<!-- при проверке в браузере сохраненые группы отображются с соответствующими адресами -->
{% extends "posts/base.html" %}
{% block title %}Записи сообщества {{ group }}{% endblock %}
{% block header %}{{ group.title }}{% endblock %}
{% block content %}
    <h1>{{ group.title }}</h1>
    <p>
        {{ group.description  }}
    </p>
 
    {% for post in page %}
        {% include "post_item.html" with post=post %}
    {% endfor %}
    {% include "paginator.html" %}
{% endblock %}
